<div class='container '>
    <div class="profileholder">
        <h5>Profile</h5>
        <h5>{{currentUser.firstName}}</h5>
        <h5>{{currentUser.email}}</h5>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <button class="btn btn-danger" ng-click='showForm()'>Edit Profile</button>
        </div>
        <div class="col-xs-8">
            <form ng-if='showadd' ng-submit='editProfile(user)'>
                <div class="form-group">
                    <label>First Name:</label>
                    <input type="text" class="form-control" ng-model='user.firstName'>
                </div>
                <div class="form-group">
                    <label>Last Name:</label>
                    <input type="text" class="form-control" ng-model='user.lastName'>
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input type="email" class="form-control" ng-model='user.email' required>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" ng-model='user.password' required>
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" ng-model='user.password2'>
                </div>
                <button class="btn btn-default" ng-click='hideForm()'>Cancel</button>
                <button type="submit" class="btn btn-primary"><span class='glyphicon glyphicon-plus-sign'></span>Save</button>
            </form>
        </div>
    </div>

</div>
